openapi: 3.0.3
info:
  title: Redemption Campaign System API
  description: Backend RESTful APIs for the Redemption Campaign platform. Handles user authentication, daily lucky draws, multi-language coupon catalogs, points-deducted redemptions, and CMS administration.
  version: 1.0.0
servers:
  - url: https://nickglobal.xyz/api
    description: Live Production API Root
  - url: http://redemption-system.test/api
    description: Local Laragon Virtual Host API Root
  - url: http://127.0.0.1:8000/api
    description: Local Artisan Serve API Root
paths:
  /register:
    post:
      summary: User Registration
      description: Register a new member using their mobile number, password, and preferred language.
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - mobile_number
                - password
                - password_confirmation
                - preferred_language
              properties:
                mobile_number:
                  type: string
                  example: "+85291234567"
                  description: Unique mobile number with country code.
                password:
                  type: string
                  format: password
                  example: "Password123"
                  description: Secure password of at least 8 characters.
                password_confirmation:
                  type: string
                  format: password
                  example: "Password123"
                preferred_language:
                  type: string
                  enum: [en, zh-tw, zh-cn]
                  example: "zh-tw"
      responses:
        '201':
          description: User registered successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "User registered successfully"
                  data:
                    type: object
                    properties:
                      user_id:
                        type: integer
                        example: 42
                      mobile_number:
                        type: string
                        example: "+85291234567"
                      preferred_language:
                        type: string
                        example: "zh-tw"
                      total_points:
                        type: integer
                        example: 0
        '422':
          description: Validation error (e.g., mobile number already exists, password mismatch).
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: "Validation failed"
                  errors:
                    type: object
                    properties:
                      mobile_number:
                        type: array
                        items:
                          type: string
                        example: ["The mobile number has already been taken."]

  /login:
    post:
      summary: User Login
      description: Authenticate user using mobile number and password to obtain a Sanctum Bearer Token.
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - mobile_number
                - password
              properties:
                mobile_number:
                  type: string
                  example: "+85291234567"
                password:
                  type: string
                  format: password
                  example: "Password123"
      responses:
        '200':
          description: Logged in successfully. Returns authentication token.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  token:
                    type: string
                    example: "1|eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                  expires_in:
                    type: integer
                    example: 3600
                  user:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 42
                      mobile_number:
                        type: string
                        example: "+85291234567"
                      preferred_language:
                        type: string
                        example: "en"
                      total_points:
                        type: integer
                        example: 1500
        '401':
          description: Invalid credentials.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: "Invalid credentials"

  /profile:
    get:
      summary: User Profile
      description: Retrieve the authenticated user's details and current point balance.
      tags:
        - Authentication
      security:
        - SanctumToken: []
      responses:
        '200':
          description: Profile retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 42
                      mobile_number:
                        type: string
                        example: "+85291234567"
                      preferred_language:
                        type: string
                        example: "en"
                      total_points:
                        type: integer
                        example: 1500
                      status:
                        type: string
                        example: "active"
                      created_at:
                        type: string
                        format: date-time
                        example: "2026-06-12T02:00:00.000000Z"
        '401':
          description: Unauthenticated.

  /lucky-draw:
    post:
      summary: Daily Lucky Draw
      description: Spin the daily lucky draw. Allowed only once per day per user based on unique draw date.
      tags:
        - Lucky Draw
      security:
        - SanctumToken: []
      responses:
        '200':
          description: Lucky draw successful. Points awarded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Draw completed successfully"
                  data:
                    type: object
                    properties:
                      awarded_points:
                        type: integer
                        enum: [10, 20, 50, 100]
                        example: 50
                      current_balance:
                        type: integer
                        example: 1550
        '422':
          description: Limit reached. Already participated in lucky draw today.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: "Already participated in today's draw."

  /lucky-draw/history:
    get:
      summary: Lucky Draw History
      description: Retrieve paginated history of points awarded from daily draws.
      tags:
        - Lucky Draw
      security:
        - SanctumToken: []
      parameters:
        - name: page
          in: query
          description: Page number for pagination.
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          description: Items per page.
          schema:
            type: integer
            default: 15
      responses:
        '200':
          description: Paginated history array.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 5
                        user_id:
                          type: integer
                          example: 42
                        draw_date:
                          type: string
                          format: date
                          example: "2026-06-12"
                        points_awarded:
                          type: integer
                          example: 50
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'

  /coupons:
    get:
      summary: Browse E-Coupons Catalog
      description: Retrieve active coupons with localized titles and descriptions based on query language.
      tags:
        - Coupons Catalog
      security:
        - SanctumToken: []
      parameters:
        - name: language
          in: query
          description: ISO code for translations (en, zh-tw, zh-cn).
          schema:
            type: string
            default: "en"
        - name: filter
          in: query
          description: Filter options.
          schema:
            type: string
            enum: [all, redeemable, expired]
            default: "all"
        - name: page
          in: query
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Localized coupons catalog.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        code:
                          type: string
                          example: "COUPON-STARBUCKS-50"
                        title:
                          type: string
                          example: "Starbucks HK$50 Cash Voucher"
                        description:
                          type: string
                          example: "Save HK$50 on any beverages at regional Starbucks stores."
                        image_url:
                          type: string
                          example: "https://images.unsplash.com/..."
                        required_points:
                          type: integer
                          example: 500
                        remaining_quota:
                          type: integer
                          example: 85
                        expiry_date:
                          type: string
                          format: date-time
                          example: "2026-12-31T23:59:59.000000Z"
                        is_redeemable:
                          type: boolean
                          example: true

  /coupons/{id}:
    get:
      summary: Coupon Details
      description: Retrieve details for a single coupon with localized descriptions.
      tags:
        - Coupons Catalog
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: language
          in: query
          schema:
            type: string
            default: "en"
      responses:
        '200':
          description: Coupon details retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      code:
                        type: string
                        example: "COUPON-STARBUCKS-50"
                      title:
                        type: string
                        example: "Starbucks HK$50 Cash Voucher"
                      description:
                        type: string
                        example: "Save HK$50 on beverages."
                      image_url:
                        type: string
                      required_points:
                        type: integer
                      total_quota:
                        type: integer
                      remaining_quota:
                        type: integer
                      expiry_date:
                        type: string
                      status:
                        type: string
                        example: "active"

  /coupons/{id}/redeem:
    post:
      summary: Redeem Coupon
      description: Deduct user points and quota to create a unique redemption code and QR value. Protected against race conditions using row locks.
      tags:
        - Redemption Operations
      security:
        - SanctumToken: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '201':
          description: Redemption completed successfully. Unique QR code generated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Coupon redeemed successfully"
                  data:
                    type: object
                    properties:
                      redemption_id:
                        type: integer
                        example: 104
                      redemption_code:
                        type: string
                        example: "RED-20260612-AB12CD34EF56"
                      qr_code_value:
                        type: string
                        example: "RED-20260612-AB12CD34EF56"
                      points_deducted:
                        type: integer
                        example: 500
                      remaining_points:
                        type: integer
                        example: 1000
        '422':
          description: Redemption rejected (e.g., insufficient points, out of quota, expired).
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: "Insufficient points balance."

  /redemptions:
    get:
      summary: Redemption History
      description: Get paginated records of all vouchers redeemed by the authenticated user.
      tags:
        - Redemption Operations
      security:
        - SanctumToken: []
      responses:
        '200':
          description: List of redemptions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        redemption_code:
                          type: string
                        qr_code_value:
                          type: string
                        points_deducted:
                          type: integer
                        status:
                          type: string
                        created_at:
                          type: string
                        coupon:
                          type: object
                          properties:
                            id:
                              type: integer
                            title:
                              type: string

  /redemptions/{id}:
    get:
      summary: Redemption Details
      description: Retrieve details of a specific redemption, including the unique QR code value.
      tags:
        - Redemption Operations
      security:
        - SanctumToken: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Specific redemption record retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      redemption_code:
                        type: string
                      qr_code_value:
                        type: string
                      points_deducted:
                        type: integer
                      status:
                        type: string
                      created_at:
                        type: string
                      coupon:
                        type: object
                        properties:
                          id:
                            type: integer
                          code:
                            type: string
                          title:
                            type: string
                          description:
                            type: string
                          image_url:
                            type: string

  /admin/coupons:
    get:
      summary: CMS Coupon List
      description: Retrieve all coupons in the catalog for admin management.
      tags:
        - Admin CMS
      parameters:
        - name: status
          in: query
          schema:
            type: string
        - name: search
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Admin coupon listing.
    post:
      summary: Create Coupon via CMS
      description: Create a new coupon and set its translations in English, Simplified, and Traditional Chinese.
      tags:
        - Admin CMS
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - code
                - required_points
                - total_quota
                - start_date
                - end_date
                - status
                - translations
              properties:
                code:
                  type: string
                  example: "COUPON-STARBUCKS-50"
                image_url:
                  type: string
                required_points:
                  type: integer
                total_quota:
                  type: integer
                start_date:
                  type: string
                  format: date-time
                end_date:
                  type: string
                  format: date-time
                status:
                  type: string
                  enum: [draft, active, expired, disabled]
                translations:
                  type: array
                  items:
                    type: object
                    required:
                      - language_code
                      - title
                      - description
                    properties:
                      language_code:
                        type: string
                      title:
                        type: string
                      description:
                        type: string
      responses:
        '201':
          description: Coupon created successfully.

  /admin/coupons/{id}:
    put:
      summary: Update Coupon via CMS
      description: Update variables of a coupon catalog item (points, total quota, status).
      tags:
        - Admin CMS
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                required_points:
                  type: integer
                total_quota:
                  type: integer
                status:
                  type: string
                  enum: [draft, active, expired, disabled]
      responses:
        '200':
          description: Coupon updated successfully.

  /admin/redemptions:
    get:
      summary: CMS Redemption Report
      description: Get detailed reports of all client point transactions and redemptions.
      tags:
        - Admin CMS
      parameters:
        - name: coupon_id
          in: query
          schema:
            type: integer
        - name: mobile_number
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Redemption reports retrieved successfully.

components:
  securitySchemes:
    SanctumToken:
      type: http
      scheme: bearer
      bearerFormat: Sanctum Token
  schemas:
    PaginationMeta:
      type: object
      properties:
        current_page:
          type: integer
        last_page:
          type: integer
        per_page:
          type: integer
        total:
          type: integer
